# This is a basic workflow to help you get started with Actions

name: Teste CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: SSH no servidor
      env:
        SSHPASS: ${{ secrets.SERVER_PASS }}
      run: |
        sshpass -e ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} 
        "sudo -i -u ghost-mgr && cd /home/ghost-mgr/cdn/blog && git pull origin master"
